{% extends "base.html" %}

{% load staticfiles%}

{%block title%}
Zarad Home
{%endblock%}

{%block staticfiles%}
<link rel="stylesheet" href="{% static 'css/Shopping-Grid.css' %}">
<script type="text/javascript" src="{% static 'javascript/home_page.js' %}"></script>
{%endblock%}

{% block content2 %}
<div class="shopping-grid">
  <div class="container">
    <h2 class="" align="center"><strong>Popular Categories</strong></h2>
    <div class="row">
      {% autoescape off %}
        {{categoriesHTML}}
      {% endautoescape %}
    </div>
  </div>
</div>
<div class="shopping-grid">
  <div class="container">
    <h2 class="" align="center"><strong>Popular Products</strong></h2>
    <div class="row" style="margin-bottom: 50px">
      {% autoescape off %}
        {{topHTML}}
      {% endautoescape %}
    </div>
  </div>
</div>
<div class="shopping-grid">
  <div class="container">
    <h2 class="" align="center"><strong>Top Offers</strong></h2>
    <div class="row">
      {% autoescape off %}
        {{offersHTML}}
      {% endautoescape %}
    </div>
  </div>
</div>
{% endblock %}
