{% extends "base.html" %}

{% load staticfiles%}

{%block title%}
Zarad Home
{%endblock%}

{%block staticfiles%}
<link rel="stylesheet" href="{% static 'css/Shopping-Grid.css' %}">
{%endblock%}

{% block content2 %}
<div class="shopping-grid">
  <div class="container">
    <h2 class="" align="center"><strong>Popular Categories</strong></h2>
    <div class="row">
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shopping-grid">
  <div class="container">
    <h2 class="" align="center"><strong>Popular Products</strong></h2>
    <div class="row" style="margin-bottom: 50px">
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shopping-grid">
  <div class="container">
    <h2 class="" align="center"><strong>Top Offers</strong></h2>
    <div class="row">
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="product-grid7">
          <div class="product-image7">
            <a href="#">
              <img class="pic-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_dcYhJ37yKHyO0ffLOMCYXMvR4DGgRikul7eOehCoRDDVdo1C&usqp=CAU">
              <img class="pic-2" src="https://images.all-free-download.com/images/graphicthumb/electric_home_appliances_product_vector_519052.jpg">
            </a>
            <ul class="social">
              <li><a href="" class="fa fa-search"></a></li>
              <li><a href="" class="fa fa-shopping-bag"></a></li>
              <li><a href="" class="fa fa-shopping-cart"></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
