{% extends "header_footer.html" %}

{% load staticfiles%}

{%block title%}
Item
{%endblock%}

{%block staticfiles%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/Community-ChatComments.css' %}">
<link rel="stylesheet" href="{% static 'css/elegant_registration_form.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script type="text/javascript" src="{% static 'javascript/itemPage.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%endblock%}

{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="container">
    <small style="margin-left: 40px"><strong>Product ID : {{productID}}</strong></small>
  </div>
  <div class="row d-flex justify-content-center" style="padding-top: 20px; padding-bottom: 50px;">
    <div class="col-md-5 col-lg-5" style="margin-bottom: 20px;">
      <div class="carousel slide" data-ride="carousel" id="carousel-1" data-interval="5000">
        <div class="carousel-inner" role="listbox" style="border-radius: 5px; box-shadow: 3px 3px 4px rgba(0,0,0,0.2); border: 0.5px solid rgba(0,0,0,0.2)">
          {% autoescape off %}
            {{productImageHTML}}
          {% endautoescape %}
        </div>
        <div>
          <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
          </a>
        </div>
        <ol class="carousel-indicators">
          {% autoescape off %}
            {{productImageHTML2}}
          {% endautoescape %}
        </ol>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="card" style="border: none; background-color: #f2f7e4; padding: 0px">
        <div class="card-body" style="margin: 0px; padding: 0px">
          <ul class="list-group">
            <li class="list-group-item" style="border: none; background-color: #f2f7e4; padding-top: {{verticalMargin}}; padding-bottom: {{verticalMargin}}">
              <h2 style="color: black; margin-bottom: 0px">{{productName}}</h2>
              <h1><span style="font-size:50px"> ৳</span>{{price}}</h1>
              {% autoescape off %}
                {{ratingHTML}}
              {% endautoescape %}
              <p><strong>{{sellerName}}</strong></p>
              <br />
              {% if extraBreak %}
                <br />
              {% endif %}
              <h6>
                <i class="text-info fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                Deliverey By {{deliveryTime}}&nbsp;| &nbsp;<span class="text-success">Free Delivery</span>
              </h6>
              {% autoescape off %}
                {{inStockHTML}}
              {% endautoescape %}
              <br />
              {% if extraBreak %}
                <br />
              {% endif %}
            </li>
            <li style="border: none; padding: 5px; margin-top: {{verticalMargin}}; list-style-type:none;">
              <div style="text-align: center; vertical-align: middle; ">
                <button data-toggle="modal" data-target="#buyNowModal" style="margin-top: 5px; margin-bottom: 5px; font-size:16px" type="button" class="btn customSuccess">Buy Now &nbsp;&nbsp;<i class="fa fa-gift fa-lg" aria-hidden="true"></i></button>
                <button data-toggle="modal" data-target="#addToCart" style="margin-top: 5px; margin-bottom: 5px; font-size:16px" type="button" class="btn btn-info">Add to Cart &nbsp;&nbsp;<i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="display: {{offerDisplay}}" class="col-md-12 col-lg-12">
      <div class="card" style="border: none; background-color: #f2f7e4;">
        <div class="card-body">
          <ul class="list-group" style="border-radius: 5px; box-shadow: 3px 3px 4px rgba(0,0,0,0.2); ">
            <li class="list-group-item">
              <h5 style="font-family: 'Vollkorn', serif; font-weight: 600"> <i class="fa fa-gift" aria-hidden="true"></i> &nbsp;&nbsp;Offers </h5>
                <ul>
                  {% autoescape off %}
                    <span style="font-family: 'Vollkorn', serif;"> {{offerListHTML}} </span>
                  {% endautoescape %}
                </ul>
            </li>
          </ul>
        </div>
      </div>`
    </div>
    <div class="col-md-12 col-lg-12 justify-content-start align-items-start" style="margin-bottom: 40px;">
      <div class="card" style="border: none; background-color: #f2f7e4">
        <div class="card-body">
          <ul class="list-group" style="background-color: #f2f8f8; border-radius: 5px; box-shadow: 3px 3px 4px rgba(0,0,0,0.2); ">
            <li class="list-group-item" style="background-color: #f2f8f8;">
              <h5 style="font-family: 'Vollkorn', serif; font-weight: 600"> <i class="fa fa-book" aria-hidden="true"></i> &nbsp;&nbsp;Description </h5>
                <span style="font-family: 'Vollkorn', serif;">{{productDescription}} </span>
            </li>
            <li class="list-group-item" style="background-color: #f2f8f8;">
              <h5 style="font-family: 'Vollkorn', serif; font-weight: 600"> <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;&nbsp; Features </h5>
              <ul>
                {% autoescape off %}
                  <span style="font-family: 'Vollkorn', serif;">{{featureListHTML}}</span>
                {% endautoescape %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card" style='border-radius: 5px; box-shadow: 3px 3px 4px rgba(0,0,0,0.2); '>
        <div class="card-header" style="background-color: #24876f;; color: white;">
          <h3><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp; Reviews</h3>
        </div>
        <div class="card-body" style="background-color: #f2f8f8;">
          <ul style="background-color: #f2f8f8;" class="list-group">
            {% autoescape off %}
              {{reviewsHTML}}
            {% endautoescape %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:25px;">
    <div class="col-md-12 col-lg-12 d-flex justify-content-end">
      <button data-toggle="modal" data-target="#exampleModal" class="btn btn-light" style="border-color: #24876f; background-color: #24876f; color:white; font-weight: bold;" type="button">Add Review</button>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background-color: #f2f8f8" class="modal-content">
      {% if iscustomerlogin %}
        <div class="modal-header" style="background-color: #24876f">
          <h4 class="modal-title" id="exampleModalLabel" style="color: white"><strong>Review</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="mt-3" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                <h6 style="margin-bottom: 0px" class="mb-3 font-weight-bold">Comment : </h6>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea maxlength="1200" class="form-control" rows="4" name="reviewDescription" id="reviewDescription"></textarea>
                </div>
              </div>
                <div class="col-lg-12">
                  <h6 style="margin-bottom: 0px" class="mb-3 font-weight-bold">Rating : </h6>
                </div>
              <div class="col-lg-12">
                <fieldset class="rating">
                  <input type="radio" id="star5" name="starRating" value="5" />
                  <label for="star5">5 stars</label>
                  <input type="radio" id="star4" name="starRating" value="4" />
                  <label for="star4">4 stars</label>
                  <input type="radio" id="star3" name="starRating" value="3" checked/>
                  <label for="star3">3 stars</label>
                  <input type="radio" id="star2" name="starRating" value="2" />
                  <label for="star2">2 stars</label>
                  <input type="radio" id="star1" name="starRating" value="1" />
                  <label for="star1">1 star</label>
              </fieldset>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn customSuccess">Submit</button>
            <button type="button" class="btn customDanger" data-dismiss="modal">Cancel</button>
            <input type="hidden" name="formIdentity" value="reviewForm">
          </div>
        </form>
      {% else %}
        <div class="modal-header" style="background-color: #24876f">
          <h4 class="modal-title" style="color:white"><strong>Please Login</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You must be logged in as a customer to perform this action
        </div>
        <div class="modal-footer">
          <span>
            <a style="text-decoration: none;" href="{% url 'accounts:login' %}" target="_blank">
              <button style="margin-right: 0px; margin-bottom: 0px;" type="submit" class="btn customSuccess">Login</button>
            </a>
            <button style="margin-left: 0px; margin-bottom: 0px;" type="button" class="btn customDanger" data-dismiss="modal">Cancel</button>
          </span>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="buyNowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background-color: #f2f8f8" class="modal-content">
      {% if iscustomerlogin %}
        <div class="modal-header" style="background-color: #24876f">
          <h4 class="modal-title" style="color:white"><strong>Confirm Order</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="mt-3" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <label for="orderQuantity"><strong>No. of Units : &nbsp;</strong></label>
            <input style="width: 120px;" type="number" id="orderQuantity" name="orderQuantity" min="1" max="{{inStock}}" oninput="validity.valid||(value='');" required="">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn customSuccess">Confirm</button>
            <button type="button" class="btn customDanger" data-dismiss="modal">Cancel</button>
            <input type="hidden" name="formIdentity" value="orderForm">
          </div>
        </form>
      {% else %}
        <div class="modal-header" style="background-color: #24876f">
          <h4 class="modal-title" style="color:white"><strong>Please Login</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You must be logged in as a customer to perform this action
        </div>
        <div class="modal-footer">
          <span>
            <a style="text-decoration: none;" href="{% url 'accounts:login' %}" target="_blank">
              <button style="margin-right: 0px; margin-bottom: 0px" type="submit" class="btn customSuccess">Login</button>
            </a>
            <button style="margin-left: 0px; margin-bottom: 0px" type="button" class="btn customDanger" data-dismiss="modal">Cancel</button>
          </span>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="addToCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background-color: #f2f8f8" class="modal-content">
      {% if iscustomerlogin %}
        <div class="modal-header" style="background-color: #24876f">
          <h4 class="modal-title" style="color:white"><strong>Add to Cart</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="mt-3" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <label for="cartQuantity"><strong>No. of Units : &nbsp;</strong></label>
            <input style="width: 120px;" type="number" id="cartQuantity" name="cartQuantity" min="1" max="{{inStock}}" oninput="validity.valid||(value='');" required="">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn customSuccess">Confirm</button>
            <button type="button" class="btn customDanger" data-dismiss="modal">Cancel</button>
            <input type="hidden" name="formIdentity" value="cartForm">
          </div>
        </form>
      {% else %}
        <div class="modal-header" style="background-color: #24876f">
          <h4 class="modal-title" style="color:white"><strong>Please Login</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You must be logged in as a customer to perform this action
        </div>
        <div class="modal-footer">
          <span>
            <a style="text-decoration: none;" href="{% url 'accounts:login' %}" target="_blank">
              <button style="margin-right: 0px; margin-bottom: 0px" type="submit" class="btn customSuccess">Login</button>
            </a>
            <button style="margin-left: 0px; margin-bottom: 0px" type="button" class="btn customDanger" data-dismiss="modal">Cancel</button>
          </span>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{%endblock%}

{% block script %}
{%endblock%}
