{% extends "header_footer.html" %}

{% load staticfiles%}

{%block title%}
Item
{%endblock%}

{%block staticfiles%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/Community-ChatComments.css' %}">
<link rel="stylesheet" href="{% static 'css/elegant_registration_form.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{%endblock%}

{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="jumbotron jumbotron-fluid" style="margin-bottom: 10px; padding-bottom: 10px; padding-top: 10px">
    <div class="container">
      <h1><strong>{{productName}}</strong></h1>
      <p class="lead"><strong>{{productDescription}} </strong> </p>
      <p class="lead"><strong>{{productCategory}}</strong></p>
    </div>
  </div>
  <div class="row" style="padding-top: 20px; padding-bottom: 50px;">
    <div class="col-md-5 col-lg-5" style="margin-bottom: 20px">
      <div class="carousel slide" data-ride="carousel" id="carousel-1" data-interval="5000">
        <div class="carousel-inner" role="listbox">
          {% autoescape off %}
            {{productImageHTML}}
          {% endautoescape %}
        </div>
        <div>
          <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
          </a>
        </div>
        <ol class="carousel-indicators">
          {% autoescape off %}
            {{productImageHTML2}}
          {% endautoescape %}
        </ol>
      </div>
    </div>
    <div class="col-md-7 col-lg-7">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <h5> Rating: </h5>
              {% autoescape off %}
                {{ratingHTML}}
              {% endautoescape %}
            </li>
            <li class="list-group-item">
              <h5>Seller Name</h5>
              <h4 style="color: #0275d8"><strong>{{sellerName}}</strong></h4>
            </li>
            <li class="list-group-item">
              <h5>Approximate Delivery Time</h5>
              <h4 style="color: #5cb85c"><strong>{{deliveryTime}} days</strong></h4>
            </li>
            <li class="list-group-item">
              <h5>In Stock</h5>
              {% autoescape off %}
                {{inStockHTML}}
              {% endautoescape %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 justify-content-start align-items-start" style="margin-bottom: 40px">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <h5> Features: </h5>
              <ul>
                {% autoescape off %}
                  {{featureListHTML}}
                {% endautoescape %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div style="display: {{offerDisplay}}" class="col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <h5> Offers: </h5>
                <ul>
                  {% autoescape off %}
                    {{offerListHTML}}
                  {% endautoescape %}
                </ul>
            </li>
          </ul>
        </div>
      </div>`
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header" style="background-color: #114f25; color: white;">
          <h3>Reviews</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            {% autoescape off %}
              {{reviewsHTML}}
            {% endautoescape %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% if iscustomerlogin %}
    <div class="row" style="margin-top:25px;">
      <div class="col-md-12 col-lg-12 d-flex justify-content-end">
        <button data-toggle="modal" data-target="#exampleModal" class="btn btn-light" style="border-color: #114f25; background-color: #114f25; color:white; font-weight: bold;" type="button">Add Review</button>
      </div>
    </div>
  {% endif %}
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #114f25">
        <h4 class="modal-title" id="exampleModalLabel" style="color: white"><strong>Review</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="mt-3" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <h6 style="margin-bottom: 0px" class="mb-3 font-weight-bold">Comment : </h6>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <textarea maxlength="1200" class="form-control" rows="4" name="reviewDescription" id="reviewDescription"></textarea>
              </div>
            </div>
              <div class="col-lg-12">
                <h6 style="margin-bottom: 0px" class="mb-3 font-weight-bold">Rating : </h6>
              </div>
            <div class="col-lg-12">
              <fieldset class="rating">
                <input type="radio" id="star5" name="starRating" value="5" />
                <label for="star5">5 stars</label>
                <input type="radio" id="star4" name="starRating" value="4" />
                <label for="star4">4 stars</label>
                <input type="radio" id="star3" name="starRating" value="3" checked/>
                <label for="star3">3 stars</label>
                <input type="radio" id="star2" name="starRating" value="2" />
                <label for="star2">2 stars</label>
                <input type="radio" id="star1" name="starRating" value="1" />
                <label for="star1">1 star</label>
            </fieldset>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}

{% block script %}
{%endblock%}
